html {
    font-size: 82.5% !important;
}


.carousel {


    img {
        width: 100%;
        height: 70vh;
        object-fit: cover;
    }
}


.blend {
    width: 98%;
    height: 70vh;
    background: linear-gradient(to right, rgba(white, .5), rgba(white, .5));
    z-index: 1000000;
    position: absolute;
}





h1 {
    font-family: 'CustomFont';
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 100000000000;
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-weight: bolder;
    color: black;
    transform: translate(-50%, -50%);
}


.about {
    height: 100px;
    width: 100px;
}

.navbar {
    background-color: rgb(32, 32, 32) !important;

    a {
        color: wheat !important;
        font-weight: 400 !important;
        font-size: 1.3rem;
    }
}

.card {

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.15);
    margin-bottom: 50px;
    border: none;
    transition: all .2s;

    img {
        height: 200px;
    }



    &:hover {
        transform: translateX(-50%) scale(1.2);
    }
}



.steps {
    color: wheat;
    font-weight: 400;
    text-align: center;
    transform: translateY(100px);
    font-size: 1.2rem;
    padding: 10px 0px;
}


.btn {
    border-radius: 0;
    background-color: rgb(32, 32, 32);
    width: 100%;
    font-size: 1.5rem;
}

.card-body {
    padding: 0;
}

.card-title {
    padding: 8px 0;
    text-align: center;
    width: 100%;
    background-color: rgb(32, 32, 32);
    color: wheat;
    text-transform: uppercase;
}

.card-text {
    text-align: center;
    font-size: 1.3rem;
    padding: 10px 6px;
}



@font-face {
    font-family: "CustomFont";
    src: url("/fonts/PROMESH-Regular.ttf");
}


/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

section {
    padding: 60px 0;
    margin-top: 50px;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#footer {
    background: black !important;
}

#footer h5 {
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #ffffff;
}

#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
    padding: 3px 0;
}

#footer ul.social li a i {
    margin-right: 5px;
    font-size: 25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
    color: #ffffff;
}

#footer ul.social li a:hover {
    color: #eeeeee;
}

#footer ul.quick-links li {
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.quick-links li:hover {
    padding: 3px 0;
    margin-left: 5px;
    font-weight: 700;
}

#footer ul.quick-links li a i {
    margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}